body{
    border: unset;
    padding: unset;
    margin: unset;
}
h1{
    font-size: 200%;
    color: white;
    background-color: rgb(232, 71, 86);
    text-align: center;
    border:unset;
    margin: unset;
    padding:5%;
    font-family: Arial, Helvetica, sans-serif;
}